@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    font-family:'Lato', sans-serif;
    padding:0;
    margin:0;
    box-sizing:border-box;
}
html{
    scroll-behavior:smooth;
}
h1, h2, h3, h4, h5, h6, span{
    color:rgb(24, 24, 130);
    text-align: center;
    line-height: 1.25;
}
a{
    text-decoration:
}
h1{
    font-size: 36px;
}
p{
    font-size: 16px;
    line-height: 1.5;
}
li{
    list-style-type:none;
}
.flex{
    display:flex;
}
.flex-1{
    flex:1;
}
.container{
    padding: 50px 0;
}
.row{
    width:100%;
    max-width: 800px;
    margin:0 auto;
    padding:0 12px;
}
.text--green{
    color:green;
}
.section:nth-child(even) {
    background-color: #f7f7f7;
}
.section__title{
    margin-bottom:20px;
    color:rgb(24, 24, 130)
}

/*NAVIGATION BAR*/

nav{
    height:100px;
    width:100%;
    max-width:1000px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 12px;
}
.nav__link--list{
    display:flex;

}
.nav__link--anchor{
    margin:0 12px;
    color:rgb(24, 24, 130);
    text-decoration:none;
    font-weight:700;
}
.nav__link--anchor-primary{
    padding:8px 20px;
    background-color: green;
    border-radius:50px;
    color:white;
    cursor:pointer;
    transition:all 300ms ease;
}
.nav__link--anchor-primary:hover{
    background-color:rgb(152, 181, 66);
}
.personal__logo{
    font-size: 24px;
    color:green;
    font-weight:700;
    margin:0 12px;
}
/* ABOUT ME*/

#about-me{
    min-height:100vh;
    display:flex;
    flex-direction:column;

}
.about-me__info{
    display:flex;
    flex-direction:column;
}
.about-me__info--container{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:0 auto;
    max-width:600px;
    text-align:center;
}
.about-me__picture--mask{
    width:100px;
    height:100px;
    border-radius:45%;
    overflow:hidden;
    border:solid 1px green;
    box-shadow: 0 8px 16px rgba(24, 24, 130, 0.7);
    margin-bottom:40px;
    
}
.about-me__picture{
    width:100%;
    height:100%;
}
.about-me__info--title{
    font-size: 32px;
}

.about-me__info--para{
    max-width:800px;
    text-align:center;
    font-size:18px;
    color:rgb(24, 24, 130);
    line-height:1.6;
    margin-top:30px;
}
.about-me__links{
    font-size:20px;
    color:rgb(225, 225, 36);
    text-decoration:none;
    padding:12px 16px;
}
.about-me__img--container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height:300px;
    margin:0 auto;
    box-shadow:0px 8px 16px rgba(0, 255, 0, 0.7);
    border-radius:16px;
}
/*in about me image container he has flex:1;display:flex;align-items:center; and nothing else*/
.about-me__img--container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/*TECHNOLOGY STACK*/
.languages__img{
    width:100%;
    max-width:100px;
    transition:all 500ms ease;
}
.languages__img:hover{
    transform:scale(0.8);
    opacity:0.6;
}
.languages__name{
    position:absolute;
    bottom:0;
    font-weight:700;
    font-size:12px;
    transition:500ms ease;
    opacity:0;
    transform:scale(0);
    color:green;
}
.languages:hover .languages__name{
    opacity:1;
    transform:scale(1);
}
.languages{
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
    width:15%;

}
.languages__img--wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:16px 16px;
}
.languages__list{
    display:flex;
    justify-content:center;
    width:100%;
    flex-wrap:wrap;
}

/*PROJECT SECTION*/

.project{
    margin-bottom: 135px;
}
.project__img{
    width:100%;
    transition: all 500ms ease;
}
.project__title{
    padding:20px;
    color:rgb(24, 24, 130);
}
.project__wrapper{
    display:flex;
    box-shadow:0 8px 16px rgba(0, 255, 0, 0.7);
    border-radius:30px;
    overflow:hidden;
    position:relative;
}
.project__wrapper:before{
    content:"";
    position:absolute;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    background-color:black;
    opacity:0;
    transition:opacity 500ms ease;
    z-index: 2;
}
.project:hover .project__wrapper:before{
    opacity:0.7;
}
.project:hover .project__img{
    transform:scale(1.07);
    filter:blur(5px);
}
.projects__list{
    padding-top:40px;
}
.project:hover .project__description{
    opacity:1;
    transform:translateY(-50%);
}
.project__description{
    position:absolute;
    top:50%;
    left: 90px;
    transform: translateY(100%);
    max-width:550px;
    z-index:3;
    opacity:0;
    transition: transform 500ms, opacity 500ms ease;
}
.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--links{
    text-align:left;
    color:white;
    text-decoration:none;
}
.project:last-child{
    margin-bottom:40px;
}

/*footer*/

footer {
  background-color: #242424;
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 28px;
}
.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8% 0;
}

.footer__logo--img {
  width: 200px;
  height: 150px;
  box-shadow:0 8px 16px rgba(0, 255, 0, 0.7);
  margin-bottom:40px;
}

.footer__social--link,
.footer__copyright,
.footer__logo--popper {
  color: #fff;
}

.footer__logo--popper {
  position: absolute;
  right: 0;
  top: 30px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
}

.footer__anchor {
  margin-bottom: 20px;
  position: relative;
}

.footer__anchor:hover .footer__logo--popper {
  transform: translateX(60px);
  opacity: 1;
}

/* Small phones, tablets, large smartphones */
@media (max-width: 768px) {
  nav {
    height: 68px;
  }

  h1 {
    font-size: 28px;
  }

  .about-me__info--para {
    font-size: 18px;
  }

  .language {
    width: calc(100% / 3);
  }

  .project__description--para {
    font-size: 14px;
  }

  .project__description {
    left: 30px;
    padding-right: 30px;
  }
}

/* SMALL PHONES */
@media (max-width: 480px) {
  .nav__link:not(:last-child) {
    display: none;
  }

  .project__wrapper {
    border-radius: 0;
  }

  .project__description {
    padding: 0;
    left: 0;
    width: 100%;
  }

  .project__description--para {
    display: none;
  }

  .project__description--links {
    display: flex;
    justify-content: center;
  }

  .project__description--title {
    font-size: 32px;
    line-height: 1;
    text-align: center;
  }

  .project__description--sub-title {
    text-align: center;
    margin: 12px 0;
  }
}