@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    font-family:'Lato', sans-serif;
    padding:0;
    margin:0;
    box-sizing:border-box;
}
h1, h2, h3, h4, h5, h6, span{
    color:#242424;
    text-align: center;
    line-height: 1.25;
}
p{
    font-size: 16px;
    line-height: 1.5;
}
li{
    list-style-type:none;
}
.flex{
    display:flex;
}
.flex-1{
    flex:1;
}
.row{
    width:100%;
    max-width: 800px;
    margin:0 auto;
}

/*NAVIGATION BAR*/

nav{
    height:100px;
    width:100%;
    max-width:1000px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:24px;
}
.nav__link--list{
    display:flex;

}
.nav__link--anchor{
    margin:0 12px;
    color:rgb(24, 24, 130);
    text-decoration:none;
}
.nav__link--anchor-primary{
    padding:8px 20px;
    background-color: green;
    border-radius:50px;
    color:white;
    cursor:pointer;
    transition:all 300ms ease;
}
.nav__link--anchor-primary:hover{
    background-color:rgb(152, 181, 66);
}
.personal__logo{
    font-size: 24px;
    color:green;
    font-weight:700;
    margin:0 12px;
}
/* ABOUT ME*/

#about-me{
    height:100vh;
    display:flex;
    flex-direction:column;
    overflow:hidden;

}
.about-me__info--container{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:0 auto;
    max-width:600px;
}
.about-me__picture--mask{
    width:100px;
    height:100px;
    border-radius:45%;
    overflow:hidden;
    border:solid 1px green;
    box-shadow: 0 8px 16px rgba(24, 24, 130, 0.7);
    margin-bottom:40px;
    
}
.about-me__picture{
    width:100%;
    height:100%;
}}
.about-me__info--title{
    font-size: 32px;
    
}
.text--green{
    color:green
}
.about-me__info--para{
    max-width:800px;
    text-align:center;
    font-size:18px;
    color:rgb(24, 24, 130);
    line-height:1.6;
    margin-top:30px;
}
.about-me__links{
    font-size:20px;
    color:rgb(225, 225, 36);
    text-decoration:none;
    padding:12px 16px;
}
.about-me__img--container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height:300px;
    margin:0 auto;
}

.about-me__img--container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*TECHNOLOGY STACK*/
#languages{
    display:flex;
    justify-content:center;
}
.languages__title{
    font-size:28px;
    margin-bottom:16px;
}
.languages__img--wrapper{
    display:flex;
    justify-content:space-between;
}
.languages__img{
    padding: 0 4px 0 4px; 
    width: 50px;
    height: auto;
}
