@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    font-family:'Lato', sans-serif;
    padding:0;
    margin:0;
    box-sizing:border-box;
}
h1, h2, h3, h4, h5, h6, span{
    color:#242424;
    text-align: center;
    line-height: 1.25;
}
p{
    font-size: 16px;
    line-height: 1.5;
}
li{
    list-style-type:none;
}
/*NAVIGATION BAR*/

nav{
    height:100px;
    width:100%;
    max-width:1000px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.nav__link--list{
    display:flex;

}
.nav__link--anchor{
    margin:0 12px;
    color:#242424;
    text-decoration:none;
}
.nav__link--anchor-primary{
    padding:8px 20px;
    background-color: #6030b1;
    border-radius:50px;
    color:white;
    cursor:pointer;
    transition:all 300ms ease;
}
.nav__link--anchor-primary:hover{
    background-color:#5d3eff;
}
.personal__logo{
    font-size: 24px;
    color:#6030b1;
    font-weight:700;
    margin:0 12px;
}